__pycache__
data/*
data/group-object/data/
!data/kfold/
!data/group-object/
!data/group-object/*.csv
!data/group-object/*.json
!data/*.ipynb
!data/csv
!data/augment
!*.py
!*.md
exps/
predicts/
run/
temps/
*build*
*egg-info*
*.DS_Store*