transformers
sentence_transformers
albumentations
transformers
faiss-gpu
umap-learn
pytorch-metric-learning
requests
tqdm
matplotlib
tabulate
wandb
opencv-python
pillow
pandas
nltk
webcolors
python-levenshtein
notebook
scikit-learn
pip
gdown